@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
.header{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    background-color: blueviolet;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    padding: 5px 5%;

}
body{
    background-color: rgb(75, 103, 226);
}
.header .navlinks{
    list-style: none;
}
.header .navlinks .navli{
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
}

.header .navlinks .navlibutton{
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
}

.header .navlinks .alink{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}
.header .navlinks .navli:hover{
    transform: scale(1.2);

}
.header .navlinks .navli .alink:hover{
    color: #ffbc0e;
}

.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

@media (max-width: 550px) {
.rounded-tr-lg-0 {
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0rem;
}
}
.card{
    box-shadow: 4px 4px 10px;
}
.maxconteinerform{
    font-size: 20px;
    max-width: 400px;
    margin: 5% auto;
    text-align: center;
}
.imgpikachu{
    max-width: 400px;
}
.libutton{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.imguser{
    height: 50px;
}
.errorregisterinput{
    color: red;
    margin-top: -20px;
}
.diverror{
    text-align: left;
}
.notas{
    margin: 2% auto;
    display: grid;
    width: 90%;
    gap: 30px;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 290px);
    justify-content: center;
}
.notas .caja{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.caja{
    background-color: white;
    border-radius: 10px;
    height: 320px;
    padding: 10px 15px 15px;
}
.caja .detallesaltos p{
    font-size: 22px;
    font-weight: 500;
}
.caja .detallesbajos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
.detallesbajos span{
 color: #6d6d6d;
 font-size: 14px;
 margin-right: -35px;

}
.detallesbajos i{
    margin-right: 7px;
    cursor: pointer;
}
.añadir{
    background-color: white;
    border-radius: 10px;
    height: 320px;
    padding: 10px 15px 15px;
    display: grid;
    place-content: center;
    cursor: pointer;

}
.añadir .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78px;
    width: 78px;
    font-size: 40px;
    border-radius: 50%;
    color: rgb(58, 153, 177);
    border: 2px dashed rgb(58, 153, 177);
}
.priority{
    z-index: 0;
    width: 50px;
    rotate: 270deg;
}
.popupbox{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.popupbox .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    max-width: 400px;
    width: 100%;
    transform: translate(-50%, -50%);
}
@media (max-width: 425px) {
    .popupbox .popup {
        max-width: 300px;
    }
}
.popup .contenido{
    background: #fff;
    border-radius: 5px;
}
.popup .contenido header{
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
}
.contenido header{
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.contenido header p{
    font-size: 20px;
    font-weight: 500;
}
.contenido header i{
    color: grey;
    cursor: pointer;
    font-size: 20px;
}
.contenido form{
    margin: 10px 15px 25px;
}
.contenido form :where(input,textarea){
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 17px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #999;
}
#description{
    height: 150px;
    resize: none;
}
.seleccion{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 10px;
}
.seleccion .opcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
}
.seleccion input{
    margin: 0;
    padding: 0;
    width: 20px;
}
.noscroll{
    overflow: hidden;
}
